
.mainHeader {
    height: 75px;
    background-color:#0f273ac5;
    display: flex;
    justify-content: space-between;
    width: 1200px;
    margin: 0 calc(50% - 600px);
}

.mainHeaderList {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 20px;
}

.mainHeaderList ul {
    list-style-type: none;
    display: flex;
    justify-content: center;
    gap: 50px;
}

li a {
    color: white;
    text-decoration: none;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: bold; 
}

li a:hover {
   color: red;
}

ul li:nth-child(2) a {
    color: red;
}