.mainHeader {
  
    height: 75px;
    background-color: #AFE597;
    display: flex;
    justify-content: space-between;
   
}

.mainHeaderList {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 20px;
}

.mainHeaderList ul {
    list-style-type: none;
    display: flex;
    justify-content: center;
    gap: 50px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: bold;
    text-decoration: none;
    color: #1e4e72c5;
    
}