body,
body * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Dancing Script", cursive;
    height: 100vh;
    width: 100vw;
}

#dataSection {
    display: flex;
    justify-content: first baseline;
    flex-direction: column;
    align-items: center;
    background-color:#1e4e72c5;
    min-height: calc(100vh - 150px);
}

.title {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 0;
    
}

.title img {
    position: relative;
    width: 1200px;
    height: 350px;
    min-width: calc(100vw - 1200px);
}

.title h2 {
    position: absolute;
    top: 320px;
    color: white;
    font-size: 70px;
    z-index: 1;
}

.dataTableContainer {
    width: 50%;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.dataTableContainer h2 {
    margin: 20px 0;
}

.table-hover {
    margin-top: 20px;
    text-align: center;
    font-size: 30px;
}

th {
    border-bottom: 1px solid #ddd;
    width: 300px;
}

.btnLoad {
    padding: 15px 50px;
    border-radius: 20px;
    border: 2px solid white;
    color: white;
    font-size: 20px;
    background-color: #1e4e72c5;
    cursor: pointer;
}